<!DOCTYPE html>
<html>
<head>
    {{ template "head" }}
    {{ define "head" }}
        <title></title>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/flotilla-skeleton-bootstrap.css"></link>
        <link rel="stylesheet" href="/static/flotilla-skeleton.css"></link>
    {{ end }}
</head>
<body class="fleet-skeleton class container-fluid">
    from """fleet-skeleton-0 layout page"""<br>
    {{ template "root"}}
</body>
{{ template "xjs" }}
